nav > h1 > span{
    color: rgb(11, 174, 238);
    font-family: georgia;
    font-weight: bolder;
}
nav > h1{
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 50px;
    align-items: center;
    background-color: rgb(196, 240, 225);
    width: 1600px;
    height: 50px;
    border-radius: 5px;
}
.nav-btn{
    color: white;
    font-weight: bold;
    background-color: rgb(11, 174, 238) ;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 20px;
}
/* header session */
header{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    margin-left: 50px;
    border-radius: 10px;
}
.header-motto{
    font-family: arial;
    font-size: 65px;
    text-align: right;
    padding-top: 10%;
    padding-left: 60%;
    padding-right: 10%;
    color: white;
}
.header-text {
    font-size: 25px;
    text-align: right;
    padding-left: 60%;
    padding-right: 10%;
    color: rgb(241, 225, 225);
}
.header-btn{
    float: right;
    margin-right: 10%;
    font-size: 30px;
    color: aqua;
    background-color: rgb(170, 173, 175);
    border-radius: 7px;
    padding: 5px;

    /* Article of failurity start from here */

}
.failurity{
    display: flex;
    margin-left:200px;
    margin-right: 100px;
}
.article-text{
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    padding-left:20%;
    padding-right: 20%;
}
.fail-list{
    text-align: left;
    list-style: cross-fade();
}

/* My plane */
section > h1{
   width: 150px;
   text-align: center;
   background-color: rgb(196, 240, 225);
  margin: auto;
}
.skill-grow{
    display: flex;
    margin-left:20% ;
    margin-top: 50px;
}
.skill-grow div{
    position: relative;
    margin: 20px 40px;
    text-align: center;
}
/* Banner */
.minute{
    background:url("images/watch.png"), linear-gradient(to right, yellow, white);
    background-repeat: no-repeat;
    height: 300px;
    width: 1400px;
    background-size: 1600px 300px;
    margin-left: 100px ;
}
.minute h1{
    width: 400px;
    padding: 40px 0 40px 100px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(240, 108, 32);
}
.minute button{
    background-color: white;
    color:rgb(11, 174, 238) ;
    padding: 5px 10px;
    margin-left: 100px;
    font-size: 25px;
    border-radius: 7px;
}
/* Address  */
address{
    background-color: black;
    color: whitesmoke;
    width: 1600px;
    display: flex;
    margin: 50px 50px 0 50px;
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
address p{ 
    width: 400px;
}
.social-media{
    display:inline ;
}
.subscribe{
    display: inline;
    color:white;
    margin-top: 50px;
    margin-left: 500px;
}
.subscribe-headline{
    font-size: 30px;
    font-family: arial;
}

.subscribe-email{
    font-size: 20px;
    border-radius: 7px;
}
.subscribe-btn{
    margin: 20px 0 ;
    font-size: 20px;
    color: white;
    background-color: rgb(98, 98, 233);
    border-radius: 7px;
}
footer{
    font-family: times;
    font-style: italic;
    font-size: 18px;
    background-color: pink;
    text-align: center;
    width: 1680px;
    margin-left: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}